@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Mukta:wght@200 & family= Roboto:wght@300 & display=swap");
* {
  padding: 0;
  margin: 0; }

header {
  background-image: linear-gradient(to right, #0575E6, #021B79);
  color: #E8EBEE;
  top: 0%;
  z-index: 1000; }
  @media (max-width: 576px) {
    header h1 {
      display: none; } }
  header .tituloIcono {
    display: flex;
    flex-wrap: wrap; }
    header .tituloIcono h1 {
      font-size: 50px;
      margin-top: 15px; }
    header .tituloIcono img {
      max-width: 110px; }
  header .barraNavegacion {
    display: flex;
    font-size: 25px;
    justify-content: center; }
    header .barraNavegacion nav div .navbar {
      left: auto; }
    header .barraNavegacion ul {
      flex-wrap: wrap;
      margin: -15px; }
      header .barraNavegacion ul li {
        margin: auto 35px; }
        header .barraNavegacion ul li a {
          color: #E8EBEE;
          transition: 1s; }
        header .barraNavegacion ul li a:hover {
          font-size: 50px;
          color: aqua; }
  header .iniciarRegister {
    font-size: 23px;
    margin-right: auto;
    margin-left: auto; }
    header .iniciarRegister ul {
      display: flex;
      list-style-type: none;
      flex-wrap: wrap; }
      header .iniciarRegister ul li {
        display: flex;
        margin: 15px; }
        header .iniciarRegister ul li a {
          text-decoration: none;
          color: #E8EBEE; }
  header .materiasOpciones ul {
    background-color: #0575E6; }
    header .materiasOpciones ul li {
      font-size: 25px;
      margin: 10px; }
      header .materiasOpciones ul li a {
        text-decoration: none; }

/*MAIN*/
.mainPrincipal {
  color: #E8EBEE;
  background-image: linear-gradient(to right, #A7BFE8, #6190E8);
  display: grid;
  grid-template-areas: "historiaescuela  historiaescuela noticiasavisos"  "escuelaubicacion escuelaubicacion escuelaubicacion" "galeria galeria galeria"; }
  .mainPrincipal .historiaEscuela {
    text-align: center;
    max-width: 650px;
    text-transform: capitalize;
    grid-area: historiaescuela; }
    .mainPrincipal .historiaEscuela h2 {
      font-size: 40px; }
    .mainPrincipal .historiaEscuela img {
      max-width: 650px;
      width: 100%; }
  .mainPrincipal .noticiasAvisos {
    text-transform: capitalize;
    grid-area: noticiasavisos; }
    .mainPrincipal .noticiasAvisos h2 {
      font-size: 40px;
      text-align: center; }
    .mainPrincipal .noticiasAvisos p {
      text-align: center;
      max-width: 400px;
      margin: 0 auto; }
  .mainPrincipal .escuelaUbicacion {
    text-align: center;
    grid-area: escuelaubicacion; }
    .mainPrincipal .escuelaUbicacion h2 {
      font-size: 40px;
      max-width: 800px;
      margin-left: auto;
      margin-right: auto; }
    .mainPrincipal .escuelaUbicacion iframe {
      max-width: 800px;
      width: 100%; }
  .mainPrincipal .galeria {
    grid-area: galeria;
    margin-left: auto;
    margin-right: auto; }
    .mainPrincipal .galeria h2 {
      font-size: 40px;
      text-align: center; }
    .mainPrincipal .galeria img {
      max-width: 800px;
      width: 100%; }
  @media (max-width: 576px) {
    .mainPrincipal {
      grid-template-areas: "historiaescuela" "noticiasavisos" "escuelaubicacion" "galeria"; } }

footer {
  background-image: linear-gradient(to right, #0575E6, #021B79);
  color: #E8EBEE;
  display: grid;
  grid-template-areas: "informacion creditos"; }
  footer .escuelaInformacion {
    font-size: 20px;
    grid-area: informacion; }
  footer .escuelaCreditos {
    margin-left: auto;
    font-size: 17px;
    max-width: 700px;
    grid-area: creditos; }
  @media (max-width: 576px) {
    footer {
      grid-template-areas: "informacion" "creditos"; } }

.mainMain {
  color: #E8EBEE;
  background-image: linear-gradient(to right, #A7BFE8, #6190E8); }
  .mainMain .sobreNosotros {
    display: grid;
    grid-template-areas: "subtitulo subtitulo subtitulo" "filauno filados filatres"; }
    .mainMain .sobreNosotros h2 {
      margin: 0 auto 20px;
      font-size: 60px;
      text-align: center;
      text-decoration: underline;
      grid-area: subtitulo; }
    .mainMain .sobreNosotros .fila {
      max-width: 300px;
      text-align: center;
      margin: 0 auto 20px; }
    .mainMain .sobreNosotros .Uno {
      grid-area: filauno; }
    .mainMain .sobreNosotros .Dos {
      grid-area: filados; }
    .mainMain .sobreNosotros .Tres {
      grid-area: filatres; }
    @media (max-width: 576px) {
      .mainMain .sobreNosotros {
        grid-template-areas: "subtitulo" "filauno" "filados" "filatres"; } }

.mainInscripcion {
  color: #E8EBEE;
  background-image: linear-gradient(to right, #A7BFE8, #6190E8); }
  .mainInscripcion .informacionInscripcion {
    display: flex;
    justify-content: center;
    display: grid;
    margin: auto 0;
    grid-template-areas: "subtitulo subtitulo subtitulo" "requisitos proceso fecha" "inscripcion inscripcion inscripcion"; }
    .mainInscripcion .informacionInscripcion h2 {
      text-align: center;
      font-size: 60px;
      grid-area: subtitulo;
      text-transform: uppercase;
      text-decoration: underline;
      margin: 0 auto 20px; }
    .mainInscripcion .informacionInscripcion .requisitosInscripcion {
      max-width: 400px;
      grid-area: requisitos;
      text-align: center; }
      .mainInscripcion .informacionInscripcion .requisitosInscripcion h3 {
        text-decoration: underline; }
    .mainInscripcion .informacionInscripcion .procesoInscripcion {
      text-align: center;
      max-width: 400px;
      grid-area: proceso; }
      .mainInscripcion .informacionInscripcion .procesoInscripcion h3 {
        text-decoration: underline; }
    .mainInscripcion .informacionInscripcion .fechaInscripcion {
      max-width: 400px;
      grid-area: fecha;
      text-align: center; }
      .mainInscripcion .informacionInscripcion .fechaInscripcion h3 {
        text-decoration: underline; }
    .mainInscripcion .informacionInscripcion .inscripcion {
      grid-area: inscripcion; }
      .mainInscripcion .informacionInscripcion .inscripcion form legend {
        text-align: center; }
      .mainInscripcion .informacionInscripcion .inscripcion form input {
        display: flex;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px; }
      .mainInscripcion .informacionInscripcion .inscripcion form label {
        display: flex;
        margin: 5px;
        justify-content: center;
        font-size: 20px;
        padding: 5px; }

@media (max-width: 576px) {
  .mainInscripcion .informacionInscripcion {
    grid-template-areas: "subtitulo" "requisitos" "proceso" "fecha" "inscripcion"; }
    .mainInscripcion .informacionInscripcion h2 {
      font-size: 40px; } }

@media (max-width: 250px) {
  .mainInscripcion .informacionInscripcion h2 {
    font-size: 20px; }
  .mainInscripcion .informacionInscripcion .requisitosInscripcion {
    max-width: 150px; }
  .mainInscripcion .informacionInscripcion .fechaInscripcion {
    max-width: 150px; }
  .mainInscripcion .informacionInscripcion .procesoInscripcion {
    max-width: 150px; }
  .mainInscripcion .informacionInscripcion .inscripcion {
    max-width: 150px; } }

.maininiciarSesion {
  color: #E8EBEE;
  background-image: linear-gradient(to right, #A7BFE8, #6190E8); }
  .maininiciarSesion .iniciarSesion form legend {
    text-align: center; }
    .maininiciarSesion .iniciarSesion form legend p {
      font-size: 50px; }
  .maininiciarSesion .iniciarSesion form input {
    display: flex;
    margin: 20px;
    margin-left: auto;
    margin-right: auto; }
  .maininiciarSesion .iniciarSesion form label {
    display: flex;
    justify-content: center;
    font-size: 20px; }
  .maininiciarSesion .iniciarSesion form .enviar {
    margin: auto; }

.mainContacto {
  display: flex;
  justify-content: center;
  color: #E8EBEE;
  background-image: linear-gradient(to right, #A7BFE8, #6190E8); }
  .mainContacto .informacionContacto h2 {
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .mainContacto .informacionContacto p {
    max-width: 500px;
    text-align: center;
    margin: auto 0; }
  .mainContacto .informacionContacto .contacto a img {
    max-width: 100px;
    width: 100%; }

@media (max-width: 350px) {
  .mainContacto .informacionContacto h2 {
    font-size: 40px; } }

.basico {
  background-image: linear-gradient(to right, #A7BFE8, #6190E8);
  color: #E8EBEE; }
  .basico .cicloBasico {
    text-align: center; }
    .basico .cicloBasico h2 {
      font-size: 60px;
      text-decoration: underline; }
    .basico .cicloBasico .primerAño {
      margin: auto; }
      .basico .cicloBasico .primerAño p {
        font-size: 30px; }
      .basico .cicloBasico .primerAño ul li {
        list-style-type: none; }
    .basico .cicloBasico .segundoAño {
      margin: auto; }
      .basico .cicloBasico .segundoAño p {
        font-size: 30px; }
      .basico .cicloBasico .segundoAño ul li {
        list-style-type: none; }
    .basico .cicloBasico .tercerAño {
      margin: auto; }
      .basico .cicloBasico .tercerAño p {
        font-size: 30px; }
      .basico .cicloBasico .tercerAño ul li {
        list-style-type: none; }
  .basico .contenidos {
    text-align: center; }
    .basico .contenidos h2 {
      font-size: 60px;
      text-decoration: underline; }
    .basico .contenidos .puntosContenido ul {
      margin: 0; }
      .basico .contenidos .puntosContenido ul li {
        list-style-type: none; }

@media (max-width: 320px) {
  .basico .contenidos h2 {
    font-size: 50px; } }

.informatica {
  color: #E8EBEE;
  background-image: linear-gradient(to right, #A7BFE8, #6190E8); }
  .informatica .informaticaMaterias {
    text-align: center; }
    .informatica .informaticaMaterias h2 {
      font-size: 60px;
      text-decoration: underline; }
    .informatica .informaticaMaterias .primer p {
      font-size: 30px; }
    .informatica .informaticaMaterias .primer ul li {
      list-style-type: none; }
    .informatica .informaticaMaterias .segundo p {
      font-size: 30px; }
    .informatica .informaticaMaterias .segundo ul li {
      list-style-type: none; }
    .informatica .informaticaMaterias .tercer p {
      font-size: 30px; }
    .informatica .informaticaMaterias .tercer ul li {
      list-style-type: none; }
  .informatica .contenidosInformatica {
    text-align: center; }
    .informatica .contenidosInformatica h2 {
      font-size: 60px;
      text-decoration: underline; }
    .informatica .contenidosInformatica .contenido ul {
      margin: 0; }
      .informatica .contenidosInformatica .contenido ul li {
        list-style-type: none; }

@media (max-width: 320px) {
  .informatica .informaticaMaterias h2 {
    font-size: 50px; }
  .informatica .contenidosInformatica h2 {
    font-size: 50px; } }

.electronica {
  color: #E8EBEE;
  background-image: linear-gradient(to right, #A7BFE8, #6190E8); }
  .electronica .electronicaMaterias {
    text-align: center; }
    .electronica .electronicaMaterias h2 {
      font-size: 60px;
      text-decoration: underline; }
    .electronica .electronicaMaterias .p p {
      font-size: 30px; }
    .electronica .electronicaMaterias .p ul li {
      list-style-type: none; }
    .electronica .electronicaMaterias .s p {
      font-size: 30px; }
    .electronica .electronicaMaterias .s ul li {
      list-style-type: none; }
    .electronica .electronicaMaterias .t p {
      font-size: 30px; }
    .electronica .electronicaMaterias .t ul li {
      list-style-type: none; }
  .electronica .contenidosElectronica {
    text-align: center; }
    .electronica .contenidosElectronica h2 {
      font-size: 60px;
      text-decoration: underline; }
    .electronica .contenidosElectronica .contenidoE ul {
      margin: 0; }
      .electronica .contenidosElectronica .contenidoE ul li {
        list-style-type: none; }
