footer{
    background-image:linear-gradient(to right, #0575E6, #021B79);
    color: #E8EBEE;
    .escuelaInformacion  {
        font-size: 20px;
    }
    .escuelaCreditos {
        font-size: 20px;
        max-width: 700px;
    }
}
