header{
    background-image:linear-gradient(to right, #0575E6, #021B79);
    color: #E8EBEE;
    top: 0%;
    z-index: 1000;
    @media (max-width: 576px){
        h1{
            display: none;
        }
   }
    
    .tituloIcono{
        display:flex;
        flex-wrap: wrap;
        h1 {
          font-size: 50px;  
          margin-top: 15px;    
        }  
        img{
            max-width: 110px;  
         }
         
    }

    .barraNavegacion{
        display: flex;
        font-size: 25px;
        justify-content: center;
        
         ul{
            flex-wrap: wrap;
            margin: -15px; 
            transition: all 0.8s;
            
            li {
                margin: auto 35px;
            }
        }
    }
    
    .iniciarRegister{
        font-size: 23px;
        margin-right: auto;
        margin-left: auto;
        ul{
            display: flex;
            list-style-type: none;
            flex-wrap: wrap; 
            li {
                display: flex;
                margin: 15px;  
                a{
                    text-decoration: none;
                    color: #E8EBEE;
                }
            }
           
        }
   }
     
   .materiasOpciones{
     ul{
        background-color: #0575E6; 
        li{
            font-size: 25px;
            margin: 10px;
            a{
                text-decoration: none;   
            }
        } 
      } 
      
    
    }
    
 
} 