.maininiciarSesion{
    .iniciarSesion{
        form{
            legend{
                text-align: center;
                p{
                    font-size: 50px;
                }
            }
            input{    
                display: flex;
                margin: 10px;
                margin-left: auto;
                margin-right: auto;
            }     
            label{
                display: flex;
                justify-content: center;
                margin: 5px;
                font-size: 20px;
                
            }
        }
    }
}