 .mainMain{
    display: block;
    color:#E8EBEE;
    background-image:linear-gradient(to right, #A7BFE8,#6190E8);
    .sobreNosotros{
        display: grid;
        grid-template-areas:
        "subtitulo subtitulo subtitulo"
        "filauno filados filatres";
        h2 {
            margin:0 auto 20px;
            font-size: 60px;
            text-align: center;
            text-decoration:underline;
            grid-area: subtitulo;
        }
        .fila{
            max-width: 300px;
            text-align: center;
            margin:0 auto 20px;
            
        }
        
        .Uno{
            grid-area: filauno;
           
        }
        .Dos{
            grid-area: filados;
            
        }
        .Tres{
            grid-area: filatres;
            
        }
        @media (max-width: 576px){
            grid-template-areas: 
            "subtitulo"
            "filauno"
            "filados"
            "filatres";
            
            
        }
         
     }
     
     

 }
 

