.mainInscripcion {
    h2{
        font-size: 80px;
    text-align: center;
    grid-area: subtitulo;
    text-transform: uppercase;
    text-decoration:underline;
    margin:20px;
    } 
}
.informacionInscripcion{
    margin: 30px;
    display: grid;
    grid-template-areas: 
    "subtitulo subtitulo subtitulo"
    "requisitos proceso fecha"
    "inscripcion inscripcion inscripcion";
    h3{
        font-size: 30px;
    }
}

.requisitosInscripcion{
    grid-area: requisitos;

}

.procesoInscripcion{
    grid-area: proceso;
    text-align: center;
}

.fechaInscripcion{
    grid-area: fecha;
    text-align: center;
}

.inscripcion{
    grid-area: inscripcion;
    border: 1px black solid;
    form{
        legend{
            text-align: center;
            
        }
        input{    
            display: flex;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            
        }     
        label{
            display: flex;
            margin: 5px;
            justify-content: center;
            font-size: 20px;
            
        }
    }
    
}





 
    
    
