/*MAIN*/
main{
    color:#E8EBEE;
    background-image:linear-gradient(to right, #A7BFE8,#6190E8);
    display: grid;
    .historiaEscuela{
        text-align: center;
        max-width: 650px;
        text-transform:capitalize;
        grid-area: historiaescuela;
    }
    .historiaEscuela h2{
        font-size: 40px;
    }         
    .historiaEscuela img{
        max-width: 650px;
        width: 100%;
    }
    .noticiasAvisos{
        text-transform: capitalize;
        grid-area: noticiasavisos;
    }
    .noticiasAvisos h2{
        font-size: 40px;
        text-align: center;
    }   
    .noticiasAvisos p{
        text-align: center;
        max-width: 400px;
    }
    
    .escuelaUbicacion{
        text-align: center;
        grid-area: escuelaubicacion;
    }
    .escuelaUbicacion h2{
        font-size: 40px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
    .escuelaUbicacion iframe{
        max-width: 800px;
        width: 100%;
    }
    .galeria{
        grid-area: galeria;
        margin-left: auto;
        margin-right: auto;
    }
    .galeria h2{
        font-size: 40px;
        text-align: center;
    }
    .galeria img{
        max-width: 800px;
        width: 100%;
    }
    grid-template-areas:
    "historiaescuela  historiaescuela noticiasavisos" 
    "escuelaubicacion escuelaubicacion escuelaubicacion"
    "galeria galeria galeria";
    

}
